<header>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://www.hotomediagroup.com/"><span class="color-blue">Home<span></a>
        </li>
      </ul>
    </div>
  </div>
  <br><br>
  <div class="banner" style="background-image: url('<%= cl_image_path "nq0p1ji6dwh6ftimblvc.jpg" %>')">
    <div class="logo-text-container">
      <%= cl_image_tag "ta3ao6oyvafi6cugum2k.png", alt: "HOTO Logo", class: "logo"%>
      <div class="container text-container">
        <h1 class="hoto-font text-shadow-tag">"Each one Help One, Each one Teach One"</h1><br>
        <h5 class="text-shadow" style="line-height: 1.27"> Fed Up with the good old boys ways of <i>"<u>pay to play</u>"</i> ? Come home to <strong>HOTO</strong> and find an experienced group of individuals who understand, because we`ve been there and lived those situations.</h5>
      </div>
    </div>
  </div>
</header>
<main>
    <div class="container container-style text-shadow">
      <h5 class="title-text color-blue"><strong><li>HOTO MEDIA GROUP LLC</li></strong></h5>
      <div class="line">
      </div>
        <p class="paragraph-text">
          <i class="color-black"><strong>“Each one Help One, Each one Teach One” (HOTO)</strong></i> was formed out of the necessity to help those in need with a simplistic and efficient manner. We are an experienced group of individuals who understand, because we’ve been there. We have experienced varied business environments, that were less than optimal and have chosen to be different. Our organization will treat each circumstance with integrity and honesty.
          Each team member is here to help, Period. Each brings with them their own individual talents, as well as having excelled in their own respective fields. We are now together as one, to make a change in the market place. <br><br>
          Each day we see many homeless on the streets. Many of these are our own <strong class="color-black"><i>Veterans</i></strong>. If you love them for their heroic acts in uniform, then you should still love them while they are in their dark place. They need our help and need us to be their advocates. It is our mission to honor them through our works. <strong class="color-black"><i>”Do not forget to do good and to share with others, for with such sacrifices God is pleased”- <span class="color-blue">Hebrews 13:16</span></i></strong>.<br><br>
          It’s very simple; “There is plenty of room on The Village bus to success. We are about collaboration over competition. We rent the bus together, board the bus together, we sit together, we fix the flat tire together, we arrive at our destination together, then we sit at the same table, where we all talk and make plans to bring two buses on the next trip”. That’s us.<br><br>
          “Each one Help One, Each one Teach One”; is our Village Creed. It’s time to stop talking about it and to be about it. Be that light from our Village that helps!<br><br>
          <i class="scripture">“You are the source of all life, and because of your light, we see the light”- <span class="color-blue">Psalm 36:9</span></i><br><br>
          <span class="color-blue">
            <i><strong><big>HOTO</big>,</strong></i><br>
            <i><strong>The Village Services.</strong></i><br>
            <i><strong>Sd.</strong></i>
          </span>
        </p>
    </div>
  <div class="center" style="background-color: #F4F4F4">
    <%= cl_image_tag "v1566502275/d8lyyrjuadidw6gwbud6.gif", alt: "Hands Together Image", class: "images-borderless"%>
    <%= cl_image_tag "z8r85grxxmr2qd6ldvmj.jpg", alt: "Praying Hands", class: "images"%>
  </div>
  <br>
  <div class="container container-style text-shadow">
    <h5 class="title-text color-blue"><strong><li>OUR BUSINESS SERVICES</li></strong></h5>
    <div class="line">
    </div>
      <p class="paragraph-text">
        <i class="color-black"><strong>HOTO Media Group’s team has a mission, “Each one Help One, each one Teach One”</strong></i>.<br><br>
        We are here to <i><strong class="color-black">serve you and your needs</strong></i> by providing you with a strategy to empower you to reach your goals. Whether you have an established business, want to transition to a new career or start a new business, our services can help you implement your plan, then market and publicize it. We are HOTO Media Group!<br><br>
        Our Tech Department can help develop and monetize your website, while helping to locate potential investors, who may be interested in your project. We have an on-staff Event Coordinator and Leadership Coach, who can take the stress out of planning an event and we can help with employment benefits that will protect your financial and physical health. We are here to serve you.<br><br>
        <i class="scripture">“But as for you, be strong and do not give up, for your work will be rewarded”- <span class="color-blue">2 Chronicles 15:7</span></i>
        <br><br>
      </p>
  </div>
  <div class="center" style="background-color: #F4F4F4">
    <%= cl_image_tag "cbtdhkcqtfbcjzzqubpd.jpg", alt: "Veterans Salute Image", class: "images"%>
  </div>
  <br>
  <div class="container container-style text-shadow">
    <h5 class="title-text color-blue"><li><strong>OUR MUSICAL SERVICES</strong></li></h5>
    <div class="line">
    </div>
      <p class="paragraph-text">
      <strong class="color-black"><i>Featuring: Sam McClung and Derrick Steward</i></strong><br><br>
      HOTO Media Group’s team has a mission of “each one Help One, each one Teach One”. This applies to every aspect of our Music Services, and we are here to serve those who need what we offer. Our expertise comes from training and combined experience of over 50 years. <br><br>
      We each have a set of unique talents we bring to the table such as:<br><br>
      <strong class="color-black">- Music Composition (original):</strong><br>
      For live or recorded performance; virtually all styles: Classical > Country<br>
      Initial concept to Full Orchestration for any size ensemble / any instrumentation<br><br>
      <strong class="color-black">- Original Arranging / Orchestration (see above):</strong><br>
      Your tune, song, or composition<br>
      Public Domain and copyrighted cover tunes<br><br>
      <strong class="color-black">- Jingles, Film Scores:</strong><br>
      Our total concept or collaborating with yours<br><br>
      <strong class="color-black">- Music Production:</strong><br>
      One song / tune > Entire Album and / or Live Performance<br>
      Payrolling of instrumental musicians and vocalist(s)<br>
      Conducting and /or leading, coaching<br><br>
      <strong class="color-black">- Managerial</strong><br>
      <strong class="color-black">- Marketing</strong><br>
      <strong class="color-black">- Booking</strong><br>
      <strong class="color-black">- Sage advice</strong><br>
      <strong class="color-black">- Data monetization</strong><br><br>
      In conjunction with our Tech Guru<br>
      Perfect for Indie artists<br>
      In place of, or in addition to a Label Deal
      <br><br>
      If you can imagine it, we can help you make it real. Whatever your needs are, we would love to help.<br><br>
      Sound clips are available. Let’s talk.<br><br>
       <i class="scripture">“Praise him with the sound of the trumpet: praise him with the psaltery and harp. Praise him with timbrel and dance: praise him with stringed instruments and organs. Praise him upon the loud cymbals: praise him upon the high sounding cymbals. Let everything that hath breath praise the Lord”- <span class="color-blue">Psalm 150: 3 – 6 </span></i>
       <br><br>
      </p>
  </div>
  <div class="container container-style text-shadow">
    <h5 class="title-text color-blue">OUR HEROS TODAY - WE ARE HERE TO HELP</h5>
    <div class="line">
    </div>
    <div class="pictures-container">
      <%= cl_image_tag "f45ojl0ycdy95tc2nlrb.jpg", alt: "Homeless Veterans", class: "img", style: "width: 480px" %>
      <%= cl_image_tag "qydjuyhl6yfhkrrhvoqg.jpg", alt: "Missing Indigneous Women Poster", class: "img", style: "width: 475px" %>
    </div>
  </div>
  <div class="container container-style video-container">
    <iframe width="1120" height="315" src="https://www.youtube.com/embed/GhSjMTMUHpI?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <br>
</main>
<footer>
  <div class="center" style="background-color: #F4F4F4">
    <%= cl_image_tag "ta3ao6oyvafi6cugum2k.png", alt: "HOTO Logo", class: "logo"%>
  </div>
  <br>
  <div class="footer color-black text-shadow"><h1><strong>STAY TUNED, MORE TO COME...</strong></h1>
  </div>
  <div class="footer text-shadow" style="background-color: #F4F4F4"><small>HOTO MEDIA GROUP LLC</small>
  </div>
</footer>
