<header>
  <!-- Navbar start -->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://www.hotomediagroup.com/"><span class="color-black">Home<span></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- navbar end -->
  <br><br>
  <!-- banner & banner content start -->
  <div class="banner" style="background-image: url('<%= cl_image_path "nq0p1ji6dwh6ftimblvc.jpg" %>')">
    <div class="logo-text-container">
      <div id="logo">
        <%= cl_image_tag "ta3ao6oyvafi6cugum2k.png", alt: "HOTO Logo", class: "logo"%>
      </div>
      <div class="text-container">
        <h1 class="hoto-font text-shadow-tag">"Each one Help One, Each one Teach One"</h1><br>
        <h5 class="text-shadow" style="line-height: 1.27">Fed Up with the good old boys ways of <i>"<u>pay to play</u>"</i> ? Come home to <strong>HOTO</strong> and find an experienced group of individuals who understand, because we`ve been there and lived those situations.</h5>
      </div>
    </div>
  </div>
  <!-- banner & content end -->
</header>
<main>
  <!-- introduction section start -->
    <div class="container-style text-shadow">
      <h5 class="title-text color-blue"><strong><li>HOTO MEDIA GROUP LLC</li></strong></h5>
      <div class="line"></div>
        <p class="paragraph-text">
          <i class="color-black"><strong>“Each one Help One, Each one Teach One” (HOTO)</strong></i> was formed out of the necessity to help those in need with a simplistic and efficient manner. We are an experienced group of individuals who understand, because we’ve been there. We have experienced varied business environments, that were less than optimal and have chosen to be different. Our organization will treat each circumstance with integrity and honesty.
          Each team member is here to help, Period. Each brings with them their own individual talents, as well as having excelled in their own respective fields. We are now together as one, to make a change in the market place. <strong><i>"Fed Up with the good old boys ways of "pay to play"?</strong> Come home to <strong>HOTO</strong> because we've <strong>been there and lived those situations.</i></strong><br><br>
          “Collaboration over competition" There is plenty of room on The Village bus to success. We rent the bus together, board the bus together, we sit together, we fix the flat tire together, we arrive at our destination together, then we sit at the same table, where we all talk and make plans to bring two buses on the next trip”. That is us.<br><br>
          Many of our <strong><span class="color-black">Veterans</span></strong> are living on the streets. This is an unacceptable tragedy. They need our help and need us to be their advocates. It is our mission to honor them through our works. If you love them for their heroic acts in uniform, then you should still love them while they are in their dark place. <br>
          We live The Village Creed. “Each one Help One, Each one Teach One”. Please join us and be that Village light that helps!
          <br><br>
          <i class="scripture">“The name of the Lord is a strong tower; the righteous run into it and are safe”- <span class="color-blue">Prov 18:10</span></i><br><br>
          <span class="color-blue">
            <i><strong><big>HOTO</big>,</strong></i><br>
            <i><strong>The Village Services.</strong></i><br>
            <i><strong>Stan Diggs</strong></i>
          </span>
        </p>
    </div>
    <!-- introduction section end-->
    <!-- images section one-->
  <div class="center-images">
    <%= cl_image_tag "kqqvclzguiueowkfsew3.png", alt: "Hands Together Image", class: "images responsive"%>
    <%= cl_image_tag "z8r85grxxmr2qd6ldvmj.jpg", alt: "Praying Hands", class: "images responsive3"%>
  </div>
  <!-- end of images section one-->
  <br>
    <!-- music and video information section -->
    <div class="container-style text-shadow">
      <h5 class="title-text color-blue"><li><strong>Hoto Media Group LLC - Musical Services</strong></li></h5>
      <div class="line">
      </div>
        <p class="paragraph-text">
          <strong class="color-black"><i>Featuring: Sam McClung and Derrick Steward</i></strong><br><br>
          <strong>HOTO Media Group’s team has a mission of “each one <u>H</u>elp <u>O</u>ne, each one <u>T</u>each <u>O</u>ne”</strong>.<br> This applies to every aspect of our Music Services, and we are here to serve those who need what we offer. Our expertise comes from training and combined experience of over 50 years. <br><br>
          We each have a set of unique talents we bring to the table such as:
        </p>
        <ul class="paragraph-text">
          <strong class="color-black"><u>MUSIC WRITING – SCORING AND PRODUCTION</u></strong><br><br>
          <strong>Music Composition - original</strong><br>
          <li>For live or recorded performance; virtually all styles: Classical > Country</li>
          <li>Initial concept to Full Orchestration for any size ensemble / any instrumentation</li><br>
          <strong>Original Arranging / Orchestration - see above</strong><br>
          <li>Your tune, song, or composition</li>
          <li>Public Domain and copyrighted cover tunes</li><br>
          <strong>Commercial Music - Jingles, Musical Logos, Theme Packages, Film Scores -</strong><br>
          <li>Our total concept or collaborating with yours</li>
          <li>Some music library licensing available</li><br>
          <strong>Music Production -</strong><br>
          <li>One song / tune > Entire Album and / or Live Performance</li>
          <li>Payrolling of instrumental musicians and vocalist(s)</li>
          <li>Conducting and /or leading, coaching</li><br>
          <strong>Videography and Photography -</strong><br>
          <li>Infomercials</li>
          <li>Music Videos</li>
          <li>Production & Editing</li><br>
          <strong class="color-black"><u>MUSIC MANAGERIAL SERVICES</u></strong><br><br>
          <strong>Tour Manager </strong>- This person is on the road with the artist managing all aspects of the tour to include:<br><br>
          <li>Artist needs from tour start to finish</li>
          <li>Travel/Hotel arrangements</li>
          <li>Venue contact</li>
          <li>Arranging advances</li>
          <li>Securing of payment/settlement</li>
          <li>Merchandise</li>
          <li>May update Social Media</li><br>
          <strong>Artist Personal Manager - Considered the gatekeeper, this person is available 24/7. All things business related, day to day, pass through this person. This is the closest person to the artist and:</strong>
          <br><br>
          <li>Manages the artist calendar</li>
          <li>Manages interviews as well as fields interview requests</li>
          <li>In lieu of a Booking Manager/Agent this person will negotiate artist performance requests.<br>They may also do the footwork in reaching out to book the artist.</li>
          <li>Builds relationships for the artist</li>
           <li>Champion for the artist they work together to develop a plan and the Manger is lead in the execution for success and growth.</li>
          <li>May handle social media</li><br>
          <strong>Booking Agent/Manager</strong> - As it reads, this person will work primarily to facilitate live performances:<br><br>
          <li>Securing and arranging performances</li>
          <li>Negotiating deals</li>
          <li>Arranging proper technical set up (Advances)</li>
          <li>May handle travel logistics and hospitality</li>
          <li>Promotions</li><br>
          <strong>Manager -</strong><br><br>
          <li>This Manager will most often be working with new “just getting established” artists.  The responsibilities held will be a mix of all of the above.  They could go by any of the titles above but the tasks will be overlapping.  The artist will take on a lot of these tasks as well and they will work very closely for success.</li><br>
          <strong>Marketing / Sage advice -</strong><br><br>
          <strong>Data monetization</strong> – Using the Cyber World to Generate Residual Income:<br><br>
          <li>In conjunction with our Tech Guru</li>
          <li>Perfect for Indie artists</li>
          <li>In place of, or in addition to a Label Deal</li><br><br>
          <strong class="color-black"><u>Consumer Development</u></strong><br><br>
          <p>Jilan McDonald <br>
           Director of Strategic Initiatives & Events <br>
           "Help One, Teach One
           HOTO Media Group LLC. <br>
             <li>Consumer Distribution</li>
             <li>Corporate or Consumer Marketing Events</li>
             <li>Product/Service Launch</li>
             <li>Trade show & Convention Management</li>
             <li>Event Design</li>
             <li>Event Management</li>
             <li>Leadership Training and Team Development</li>
             </p>
        </ul>
        <strong class="paragraph-text color-blue">If you can imagine it, we can help you make it real. Whatever your needs are, we would love to help.</strong><br><br>
        <strong class="paragraph-text">Sound clips are available. Let’s talk.</strong><br>
         <p class="paragraph-text scripture">“Praise him with the sound of the trumpet: praise him with the psaltery and harp. Praise him with timbrel and dance: praise him with stringed instruments and organs. Praise him upon the loud cymbals: praise him upon the high sounding cymbals. Let everything that hath breath praise the Lord”- <span class="color-blue">Psalm 150: 3 – 6 </span><br><br></p>
    </div>
    <!-- music and video information section end -->

  <!-- images section two -->
  <div class="center-images">
    <%= cl_image_tag "cbtdhkcqtfbcjzzqubpd.jpg", alt: "Veterans Salute Image", class: "images responsive2"%>
  </div>
  <!-- images section two end -->
  <br>
  <!-- business section start -->
    <div class="container-style text-shadow">
      <h5 class="title-text color-blue"><strong><li>Hoto Media Group LLC - Business and Technology Services</li></strong></h5>
      <div class="line">
      </div>
        <p class="paragraph-text">
          <strong class="color-black"><i>Featuring: Michael Arbitman Ph.d and Heidi Hilton, MBA</i></strong><br><br>
          <i class="color-black"><strong>HOTO Media Group’s team has a mission, “Each one Help One, each one Teach One”</strong></i>.<br><br>
          We are here to <i><strong class="color-black">serve you and your needs</strong></i> by providing you with a strategy to empower you to reach your goals. Whether you have an established business, want to transition to a new career or start a new business, our services can help you implement your plan, then market and publicize it. We are HOTO Media Group!<br><br>
          Our Tech Department can help develop and monetize your website, while helping to locate potential investors, who may be interested in your project. We have an on-staff Event Coordinator and Leadership Coach, who can take the stress out of planning an event and we can help with employment benefits that will <strong class="color-black">protect your financial and physical health. We are here to serve you.</strong>
          <ul class="paragraph-text2">
            <li>Marketing </li>
            <li>Publicity</li>
            <li>Milestones Radio</li>
            <li>Planning for your life</li>
            <li>Personal and Professional Insurance</li>
            <li>Protect yourself from the unforeseen</li>
          </ul>
          <ol class="paragraph-text2">
            <li>Health</li>
            <li>Dental</li>
            <li>Vision</li>
            <li>Disability</li>
            <li>Long Term Care</li>
            <li>Life</li>
            <li>High Risk Liability</li>
            <li>401K</li>
          </ol>
          <i class="paragraph-text scripture">“But as for you, be strong and do not give up, for your work will be rewarded”- <span class="color-blue">2 Chronicles 15:7</span></i>
        </p>
        <br>
    </div>
    <!-- business section end -->

  <!-- images section three -->
  <div class="container-style text-shadow">
    <h5 class="title-text color-blue">OUR HEROS TODAY - WE ARE HERE TO HELP</h5>
    <div class="line">
    </div>
    <div class="container pictures-container">
      <%= cl_image_tag "f45ojl0ycdy95tc2nlrb.jpg", alt: "Homeless Veterans", class: "img", style: "width: 480px" %>
      <%= cl_image_tag "qydjuyhl6yfhkrrhvoqg.jpg", alt: "Missing Indigneous Women Poster", class: "img", style: "width: 475px" %>
    </div>
  </div>
  <div class="container container-style video-container">
    <iframe width="1120" height="315" src="https://www.youtube.com/embed/GhSjMTMUHpI?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <br>
  <!-- images section three end -->
</main>
<!-- start of footer -->
<footer>
  <div class="center-images">
    <%= cl_image_tag "ta3ao6oyvafi6cugum2k.png", alt: "HOTO Logo", class: "logo"%>
  </div>
  <br>
  <div class="footer text-shadow" style="background-color: black"><h1><strong>STAY TUNED, MORE TO COME...</strong></h1>
  </div>
  <div><h5 class="container color-black text-shadow" style="text-align:center ">If you have any questions or wish to contact us, please email us at <span class="color-blue">"hotomediagroup@gmail.com"</span></h5>
  </div>
  <div class="footer text-shadow color-blue" style="background-color: black"><small>HOTO MEDIA GROUP LLC</small>
  </div>
</footer>
<!-- footer end -->
